<% layout("/layouts/boilerplate")%>
<body>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <br><br>
    <h3>Create a new Listing</h3>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Add title" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please enter valid Title!</div>
        </div>

        <div class="mb-3"> 
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter valid description!</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" placeholder="Enter image URL/Link" class="form-control">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]"  class="form-control" required>
                <div class="invalid-feedback">Please enter valid price!</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>           
                <input type="text" name="listing[country]"   class="form-control" required>
                <div class="invalid-feedback">Please enter valid country name!</div>
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]"  class="form-control" required>
            <div class="invalid-feedback">Please enter valid Location!</div>
        </div>
        
        <button class="btn btn-dark add-btn mb-3 col-2">Add</button>
        
    </form>
    </div>
</div>
</body>
